
* {
    margin: 0;
    padding: 0;
    background-color: #333333;
    color: #959595;
}
button {
    height: 80px;
    width: 120px;
    background-color: red;
    color: #333333;
    font-size: 25px;
    transition: .15s;
    border-radius: 15px;
}
button:hover {
    transform: scale(1.05,1.05)
}

#register-comp {
    display: none;
    text-align: center;
    
}
#login-comp {
    text-align: center;
    background-color: #333333;
    width: 100vw;
    height: 100vw;
    color: #959595;
    
}
#dashboard-comp {
    display: none;
    
}
.flight-nums {
    display: flex;
    /* background-color: aqua; */
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: none;
}
.disc-card {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    
    align-items: center;
    background-image: linear-gradient(to right, blue, lightgreen 100px, yellow 200px);
    background-size: 100% 100%;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* margin: 25px; */
    transition: .25s;
    /* overflow: hidden; */
}
.disc-card-shadow {
    height: 200px;
    width: 200px;
    /* border-radius: 100px; */
    box-shadow: 10px 10px 10px black,
    0 0 5px black;
    margin: 25px;
    background: none;
    z-index: 999;
    background-color: black;
    border-radius: 100%;
    transition: .25s;
}
.no-background {
    height: 200px;
    width: 200px;
    background: none;
    overflow: hidden;
    border-radius: 100px;
    transition: .25s;
}
/* .disc-card-shadow:hover{
    transform: rotatez(90deg);
} */
.disc-card:hover {
    /* transform: rotatez(360deg); */
    transform: scale(1.025,1.025)
    
    
    /* transform: rotate3d(1, 10, 20, 360deg); */
}
.no-background:hover {
    transform: scale(1.025,1.025)
}
.disc-card-shadow:hover {
    transform: scale(1.025,1.025)
}


.flight-num {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-left: 2px;
    margin-right: 2px;
    border: 1px solid black;
    background: none;
    color: black;
}
.add-to-bag-btn {
    height: 40px;
    width: 80px;
    border-radius: 60px;
    background: none;
    color: black;
    font-size: 15px;
}
.disc-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    height: 400px;
    flex-wrap: wrap;
}
.brand, .name {
    background: none;
    color: black;
    font-size: 25px;
    font-style: italic;
}
header {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#log-out-btn {
    height: 40px;

    position: absolute;
    left: 10px;
    top: 10px;
    
}
#dashboard-buttons {
    height: 80px;
    border-radius: 5px;
    background-color: #898989;
    font-size: larger;
    margin: 25px;
    background-color: red;
    color: #333333;
}

.title {
    font-size: 100px;
    color: red;
    margin-bottom: 100px;
}

.login-form {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.register-form {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
input {
    width: 250px;
    margin: 10px;
    height: 50px;
    width: 250px;
    font-size: 40px;
}
.menu-btn {
    height: 50px;
    width: 80px;
    background-color: red;
    color: #333333;
}

.header-comp {
    display: flex;
    width: 100vw ;
    align-items: center;
    justify-content: center;
    margin:100px;
}
.go-to-login,.go-to-register {
    margin: 10px;
}


#shiny {
    z-index: 99;
    height: 400px;
    width: 150px;
    background-color: white;
    opacity: 40%;
    position: relative;
    /* transform: rotatez(45deg); */
    left: 250px;
    bottom: 215px;
    transition: 1.25s;
    pointer-events: none;
    
    animation-delay: 1s;
    transform: rotatez(45deg)translate(-500px)
    
}
.dashboard-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    position: relative;
    right: 0;
    top: 0;
}
body {
    background-image: linear-gradient(red, white);
}
